body {
    background-color: antiquewhite;
}

.main-container{}

.left-container {
    background-color: rgb(212, 189, 189);
    height: 400px;
    width: 800px;
    border-radius: 20px;
    margin: 60px 0 0 260px;
}

.right-container {
    background-color: rgb(132, 197, 132);
    border-radius: 20px;
    float: right;
    margin: 30px 50px;
    height: 300px;
    width: 300px;
    padding-left: 16px;
    padding-top: 40px;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.left-1-container {
    float: left;
    margin-left: 50px;
}

button {
    border-radius: 20px;
    border: 1px solid gray;
}

input {
    height: 30px;
    border-radius: 10px;
    border: 1px solid gray;

}

img {
    width: 20px;
    height: 20px;
}

.b1{
    width: 20px;
    height: 20px;
}

.btn{
    height: 30px;
    width: 100px;
    background-color:rgb(34, 59, 34) ;
    color: white;
    margin: 4px;
    font-size: 16px;
}

.btn:hover{
    background-color: rgb(130, 241, 130);
    color: rgb(56, 53, 53);
}

p{
    font-size: 26px;
}

#b2{
    height: 30px;
}

.value{
   color:  rgb(43, 58, 43);
   font-size: 30px;
}

.text{
    color: white;
}

#reset{
    height: 50px;
    width: 260px;
    margin: 8px;
    border-radius: 10px;
    background-color:rgb(4, 29, 4) ;
    font-size: 20px;
    color: rgb(164, 219, 164);
    margin-top: 70px;
}